extends layout

block content

  h4.mt-4= title
  form(method='POST' action='')
    .form-group
      .input-group-prepend
        span.input-group-text Date
        input#date.form-control(type='date' name='date'
          value=(post ? post.date_yyyy_mm_dd : today)
          required='true')
    .form-group
      textarea.form-control(name='title' rows=3
        placeholder='Title...'
        required='true')
        | #{post && post.title}
    .form-group
      textarea.form-control(name='text' rows=8
        placeholder='Text...'
        required='true')
        | #{post && post.text}
    div.text-center
      button.btn.btn-primary.mt-2(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg