extends layout

block content

  .container.mt-4.px-0
    each post in post_list
      //- - const cardClasses = post.publish ? 'card text-white bg-secondary mb-3' : 'card border-danger mb-3'
      //- div(class="#{cardClasses}")

      .card.bg-light.m-2
        .card-header #{post.title}
        .card-body
          .card-text.mb-2 #{post.text}
          if user && user.role !== 'visitor'
            .card-text #{post.author.first_name} #{post.author.last_name}
          .card-text.font-italic.font-weight-light #{post.date_yyyy_mm_dd}


  //- Only show the button if rendering for News
  if admin
    button.btn.btn-primary
      a(href='/post/create', style='text-decoration: none; color: inherit;') Add News